/* Stiliaus aprašymas šachmatams */
/* Puslapio pagrindas */
body {
    background-color: lightsalmon;
    margin-top: 20px;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 800px;
    border-spacing: 0px;
}
tr {
    height: 80px;
    width: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
td {
    width: 80px;
    height: auto;
    padding: 0;
}
/* Kraštai */
.krastas_left {
    background: url("./pav/border_left.jpg") no-repeat;
    background-size: contain;
}
.krastas_top {
    background: url("./pav/border_top.jpg") no-repeat;
    background-size: contain;
}
.krastas_right {
    background: url("./pav/border_right.jpg") no-repeat;
    background-size: contain;
}
.krastas_bottom {
    background: url("./pav/border_bottom.jpg") no-repeat;
    background-size: contain;
}
/* Langeliai: juodi ir balti */
.baltas {
    background: url("./pav/white_sq.jpg") no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: bottom;
}
.juodas {
    background: url("./pav/black_sq.jpg") no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: bottom;
}
/* Šachmatų figūros */
.figura {
    width: 70px;
    height: auto;
}
.figura:hover {
    width: 75px;
    height: auto;
}
/* Teksto nustatymai */
.tekstas_top {
    font-size: 30px;
    text-align: left;
    color: cornsilk;
    margin-left: 25px;
    letter-spacing: 60px;
}
.tekstas_bottom {
    font-size: 30px;
    text-align: left;
    color: cornsilk;
    margin-right: 25px;
    letter-spacing: 60px;
    transform: rotate(180deg);
}
.tekstas_left {
    font-size: 30px;
    text-align: center;
    color: cornsilk;
    writing-mode: vertical-rl;
    margin-left: 25px;
    margin-top: 25px;
    letter-spacing: 65px;
    transform: rotate(180deg);
}
.tekstas_right {
    font-size: 30px;
    text-align: center;
    color: cornsilk;
    writing-mode: vertical-rl;
    margin-left: 25px;
    margin-bottom: 25px;
    letter-spacing: 65px;
}
